body { 
	font-size: 11px;

	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin: 0; 
	padding: 0; 
	background: #f9f9f9;;
}
ul {
	list-style: url(mini-puce-vert.png);
}
img {
	border: none; 
	text-decoration: none;
}

em.underline {
	text-decoration: underline;
	font-style:normal;
}


#header {
	background: white;
	
}

#header h1 {
	margin: 0px 0 0 0;
	padding: 0 0 0 19px;
	/*border-top: 1px solid silver;*/
	border-bottom: 3px solid #890010;
	background: #ebfc9c url(h2_bg.png) no-repeat left top;
	background: #e21b32 url(h2_bg.png) no-repeat left top;
	color: green;
	font: 26px "Trebuchet MS","Arial","Verdana",sans-serif;
}

#header p {
	float: right;
	text-align: right;
	margin: 0;
	padding: 5px;
}

#header p a.flag img {
	padding: 2px;
	border: none;
}
#header p a.flag:hover img {
	padding: 1px;
	border: white 1px solid;
}     

#header a {
	text-decoration: none;
	color: green;
	font-weight: bold;
}

#header a:hover {
	color: #00670c;
}

#header h1 a {
	color: white;;
}
#header h1 a:hover {
	color: #e5e5e5;
}
	

#header div.poweredby:before {
         content: ".:: ";
}

#header div.poweredby {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 8px;
	float:right;
	color: gray;
}

#leftside {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	border-right: 1px silver solid;
	border-bottom: 1px silver solid;
	float: left;
	width: 138px;
	background-color: white;
}

#rightside {
	border-left: 1px silver solid;
	border-bottom: 1px silver solid;
	float: right;
	width: 200px;
	padding-left:10px;
	background: #ffefbf url(h2_bg.png) no-repeat right bottom;
}

#middle {
	margin-left: 145px;
	margin-right: 240px;
}

#blog p {
	margin-left:2em;
}

#blog span.date {
	color: green;
}

#blog span.blogCatComm {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-align: right;
	display: block;
	font-size: 10px;
}

#blog span.blogCatComm a {
	color: gray;
	text-decoration: none;
}
#blog span.blogCatComm a:hover {
	color: green;
	text-decoration: underline;
} 
#blog a {
	color: green;
}

#bookmark ul li a {
	font-weight: bold;
	color: green;
	font-size: 13px;
	text-decoration: none;
}
#bookmark ul li a:hover {
	text-decoration: underline;
}
#bookmark ul li {
	margin-bottom: 0.5em;
}


#album img {
	border: 5px white solid;
}
#album td {
	text-align: center;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 9px;
	vertical-align:bottom;
}

#friends h2 {
	font: 18px "Trebuchet MS","Arial","Verdana",sans-serif;
}
#friends table {
	width: 100%;
}
#friends td {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 9px;
	color: black;
	text-align: center;
}
#friends td a {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 9px;
	color: black;
	text-decoration: none;
	color: gray;
}

#friends td a:hover {
	color: green;
}    

#main {
	background: #f5f5f5;
	color: #0d0d2b;
	border-top: 1px silver solid;
	clear: both;
}

#main h2 {
	background: url(h3_bg.png) no-repeat left bottom;
	padding-left: 8px;
}

#main h2 , #main h2 a {
	font-size: 18px;
	color: black;
	text-decoration: none;
}

#main h2 a:hover {
	color: green;
	text-decoration: none;
}


#middle h2 {
	font: 18px "Trebuchet MS","Arial","Verdana",sans-serif;
	padding: 0 0 2px 8px;
	background: url(h3_bg.png) no-repeat left bottom;
	border-bottom: 1px silver solid;
}

#main h3, #main h3 a {
	font: 14px "Trebuchet MS","Arial","Verdana",sans-serif;
	font-weight: bold;
	padding: 0;
	margin: 0.5em 0 0 0;
	color: #333;
	text-decoration: none;
}

#main h3 a:hover {
	text-decoration: underline;
	color: green;
}



#leftside {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	border-right: 1px silver solid;
	border-bottom: 1px silver solid;
	float: left;
	width: 138px;
	background: #f6fff1;
	text-align: center;
}


#leftside img {
	border: 5px white solid;
}

ul#menu img { vertical-align: middle; }

ul#menu li a img {
	border: none;
}




ul#menu {
	padding:5px 0 1px 0;
	margin:0;
	background: #f6fff1;
	text-align: left;
}

ul#menu li {
	list-style: none;
	padding: 0;
}

ul#menu li a {
	display: block;
	color: green;
	padding: 1px 5px 1px 32px;
	font-size: 11px;
	text-decoration: none;
	height: 32px;
	background-repeat: no-repeat;
	background-position: left center;
}

ul#menu li a:hover {
	padding: 0px 4px 0px 32px;
	border: #bbda84 1px solid;
	border-left: none;
	border-right: none;
	background-color: #E6FFBF;
}

ul#menu li.contact a {
	background-image: url(message_one.png);
}
ul#menu li.blog a {
	background-image: url(blog.png);
}
ul#menu li.bookmark a {
	background-image: url(link.png);
}
ul#menu li.album a {
	background-image: url(photo.png);
}


#miniprofile b {
	color: #555;
}

#miniprofile h2 {
font: 18px "Trebuchet MS","Arial","Verdana",sans-serif;
}

#blog h3 {
	border-bottom: silver 1px solid;
}

#blog h3 a {
	color: gray;
}


#footer {
	clear: both;
	border-top: 1px silver solid;
	padding: 1em 0;
	text-align:center;
}
#footer a {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: gray;
	text-decoration: none;
}
#footer a:hover {
	color: black;
	text-derocation: underline;
}
#footer img {
	border: none;
}
#footer p {
	text-align: right;
}

#leftside a.foaf { 
	display: block;
	text-align: center;
}
#leftside a.foaf img { 
	border: none; 
}

